body {
    height: 100%;
    background: linear-gradient(to top, white, rgb(113, 112, 173) );
    background-size: 100%, 100%;
}


/*cabecario*/
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    width: 100%;
    background-color: rgb(143, 142, 212);
    border-top: black 3px solid;
    border-bottom: black 3px solid;
} 


.caixa {
   width: 1000px;
   height: 100px;
   position: relative;
   margin: 0 auto;
   padding: 13px; 
}

header img {
    width: 7%;
}

header h2 {
    position: absolute;
    top: 0;
    margin-left: 35%;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}


header nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 50px;
    margin-right: 55px;
}

.login {
    width: 9%;;
}

.img_login {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    margin-top: 38px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    color: orange;
    text-decoration: underline;
}



/*conteudo pǵina*/
main {
    margin-top: 200px;
}

.produtos {
    width: 940px;
    margin: 0 auto;
}

.produtos li {
    background-color: white;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    text-align: center;
    margin: 0 1.0%;
    border: black 2px solid;
    border-radius: 20px;
    padding: 30px 20px;
    box-sizing: border-box;
    transition: 1s all;
}

.produtos li:hover {
    border-color: red;
}

.produtos li:active {
    border-color: green;
}

.produtos li:hover h3 {
    font-size: 25px;
}

.produtos h3 {
    font-size: 23px;
    font-weight: bold;
    transition: 1s all;
}

.butijoes_ima {
    margin-top: 15px;
    width: 100%;
}

.produto_preco {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.produto_descricao {
    text-decoration: underline;
}

/*Rodapé*/
footer {
    border-top: gray solid 3px;
    border-bottom: black solid 3px;
    margin-top: 100px;
    padding: 40px;
    background-color: white;
    text-align: center;
}

footer p {
    font-size: 15px;
}

.rodape {
    width: 5%;
}